/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  Global Style Style  +++++++++++++++++++++++++++++++++++++++++++++++++++ */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

html {
    font-size: 10px;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 24px;
    color: rgb(255, 68, 34);
    padding-bottom: 20px;
    padding-left: 10px;
}

h2 a:hover {
    color: black;
}

.subheader {
    padding-top: 60px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  Icons  +++++++++++++++++++++++++++++++++++++++++++++++++++ */
.fa-search {
    width: 24px;
    height: 24px;
    padding-top: 5px;
}

.fa-tag {
    padding: 10px;
}

.fa-toolbox {
    padding: 10px;
}

.fa-facebook-square {
    padding-top: 5px;
    color: white;
}

.fa-twitter {
    padding-top: 5px;
    color: white;
}

.fa-youtube {
    padding-top: 5px;
    color: white;
}

.fa-instagram {
    padding-top: 5px;
    color: white;
}

.fa-pinterest-p {
    padding-top: 5px;
    color: white;
}

.fa-rss {
    padding-top: 5px;
    color: white;
}

.fa-envelope {
    padding-top: 5px;
    color: white;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++  Header Style  +++++++++++++++++++++++++++++++++++++++++++++++++++ */
.main-nav .top-nav a:hover {
    color: white;
}

.main-nav .bottom-nav a:hover {
    color: black;
}

.main-nav li {
    margin-right: 1em;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(18, 19, 20);
    color: rgb(186, 181, 171);
    font-size: 1.3em;
    padding: 7px 20px;
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0px 0 0px 20px;
    color: gray;
}

#nav-button {
    padding: 0 12px 0 12px;
    height: 47px;
    border-width: 0 0 0 1px;
    border-color: solid rgb(186, 181, 171);
    background-color: white;
}

.announcement {
    background-color: rgb(255, 221, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 7px 20px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ Main Content Style +++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*Main Story Grid */
.cover-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 265px 265px;
    grid-gap: 8px;
}

.main-story {
    margin: 2px 0 0 8px;
    position: relative;
    grid-row: 1 / span 2;
}

.main-image {
    background-image: url('images/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-5-796x417.png');
    background-size: cover;
    background-position: 50%;
    height: 100%;
}

.side-story {
    margin: 2px 8px 0 0;
}

.side-image1 {
    background-image: url('images/Snag_38848865-796x427.png');
    background-size: cover;
    background-position: 50%;
    height: 100%;
}

.side-image2 {
    background-image: url('images/bezos-blue-horizon-796x419.jpg');
    background-size: cover;
    background-position: 50%;
    height: 100%;
}


/*Latest News Section */
.container {
    margin: 0 auto;
    max-width: 1192px;
}

.story-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.story-box {
    padding: 10px;
    max-width: 270px;
}

.small-story {
    height: 135px;
    width: 270px;
}

.small-story>a:first-child {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.small-story-title {
    word-wrap: break-word;
    font-size: 14px;
}

/* Latest Funding Rounds Grid */
.latest-funding {
    margin-bottom: 56px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.subheader ul {
    display: flex;
    font-size: 17px;
    color: rgb(255, 68, 34);
    font-weight: 100;
    padding-right: 10px;
}

.subheader>li {
    padding-right: 10px;
    padding-left: 10px;
}

.funding-row {
    display: flex;
    justify-content: space-between;
}

.funding-box {
    padding: 10px;
    width: 100%;
}

.investment-card-image {
    position: absolute;
    margin: 1rem;
    width: 60px;
    height: 60px;
}

.investment-name {
    color: white;
    background-color: rgb(255, 68, 34);
    font-size: 18px;
    padding: 5px 10px 5px 85px;
}

.investment-deets {
    background-color: rgba(255, 68, 34, 0.1);
    font-size: 16px;
    padding: 5px 10px 10px 85px;
}

.investment-deets>h5 {
    font-size: 12px;
    font-weight: 100;
    color: gray;
}

.investment-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 250, 248);
    font-size: 12px;
    border-bottom: 1px solid rgba(255, 67, 34, 0.3);
}

.investment-description {
    word-wrap: break-word;
    font-size: 10px;
    padding: 15px 15px 25px 15px;
    background-color: rgb(255, 250, 248);
}

.link {
    color: #999;
}

/* Most Popular Section */
.section-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.section-box {
    padding: 12px;
    position: relative;
    width: 368px;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    margin-bottom: 24px;
}

.most-popular {
    position: relative;

}

.most-popular>a:first-child {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75%;
}

.most-popular a:last-child:hover {
    text-decoration: underline;
}

.gradient {
    background: transparent url(images/image-gradient.png) no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.popular-heading-container {
    bottom: 0;
    left: 0;
    padding: 14px;
    right: 0;
    z-index: 3;
    position: absolute;
    color: white;
}


.popular-title {
    word-wrap: break-word;
    font-size: 14px;
}

.latest-popular {
    display: flex;
    background-color: rgba(255, 68, 34, .06);
    color: #f42;
    align-items: center;
}

.latest-heading {
    padding: 10px;
}

.latest-section {
    padding-bottom: 5px;
}

.latest-title {
    font-size: 12px;
    font-weight: 900;
}

.latest-image {
    flex: 0 0 96px;
    background-color: #000;
    background-position: 50%;
    background-size: cover;
    height: 96px;
    width: 96px;
}

.section-headline-title {
    border-bottom: 1px solid #eee;
    color: #555;
    display: block;
    padding: 6px 0 6px 14px;
    position: relative;
    font-size: 12px;
    font-weight: 100;
}

/* Latest Deals Section */
.deals {
    margin-bottom: 60px;
}

.deal-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deal-box {
    padding: 15px;
    max-width: 270px;
    flex-basis: 25%;
    max-width: 25%;
}

.deal-story>a:first-child {
    display: block;
    width: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 74.5%;
}

.deal-story-title {
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 10px;
}

.deal-price-old {
    text-decoration: line-through;
    font-size: 13px;
    margin-right: 4px;
    color: #aaa;
}

.deal-price-new {
    font-size: 16px;
    color: #555;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ Footer Content Style +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer {
    text-align: center;
}

.footer-links {
    background: #131313;
    padding: 42px 0 28px 0;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

.footer-links-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-links-social li .post-body a strong, 
.footer-links-social li a, 
.post-body a .footer-links-social li strong {
    background: #333;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;
}

.footer-links-social li {
    margin: 0 8px 0 8px;
}

.footer-links-menu li{
    margin: 0 6px;
}

.footer-links-menu li .post-body a strong, 
.footer-links-menu li a, 
.post-body a .footer-links-menu li strong {
    color: #aaa;
    font-size: 12px;
}

.footer-legal {
    background: black;
    padding: 39px 0 39px 0;
    color: white;
    font-size: 12px;
}

.footer-legal-wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}


@media (max-width: 1440px) {
    .bottom-nav-list {
        display: none;
    }
}

@media (max-width: 768px) {
    .bottom-nav ul:last-of-type li:last-of-type {
        display: flex !important;
      }
}

@media screen and (max-width: 768px) {

    .cover-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 240px;
        grid-auto-rows: 240px;
    }

    .funding-row,
    .section-row,
    .story-row,
    .deal-row {
        flex-direction: column;
        width: 100%;
    }

    .story-box {
        display: flex;
        max-width: 100%;
        width: 100%;
    }
    
    .small-story-title {
        font-size: 1em;
        padding-left: 5px;
    }

    .section-box {
        max-width: 100%;
        width: 100%;
    }

    .deal-story {
        max-width: 75px;
        max-height: 75px;
        min-width: 75px;
        min-height: 75px;
        padding-top: 0;
    }

    .deal-box {
        display: flex;
        max-width: 100%;
    }

    .deal-story-title {
        width: initial;
    }

    .subheader {
        flex-direction: column;
    }

    .subheader ul {
        padding-left: 10px;
    }

    .heading-container {
        padding-left: 10px;
    }

    .top-nav {
        flex-direction: column;
        align-items: flex-start
    }

    .top-nav ul:first-child {
        margin-bottom: 20px;
    }

    .main-story {
        margin-left: 0px;
    }

    .side-story {
        margin-right: 0px;
    }
}
